body {
    color: #1f1f1f;
}

.section_catalog {
    background-color: grey;
}

.btn {
    color: #1f1f1f;
}

.section_catalog:after {
    background-color: grey;
}

.phone__item {
    color: grey;
    border: 3px solid grey;
}

.phone__item:hover {
    color: #1f1f1f;
    background: grey;
}

.phone__item--accent:hover {
    color: grey;
}

.btn-menu__inner::before,
.btn-menu__inner::after,
.btn-menu__inner {
    background: #1f1f1f;
}

.catalog-nav__wrapper {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}

.catalog-nav__btn {
    color: #1f1f1f;
    border-right: 1px solid #1f1f1f;
}

.catalog-nav__btn.is-active {
    background: #1f1f1f;
    color: grey;
    border-color: #1f1f1f;
}

.catalog-nav__btn:not(.is-active):hover {
    color: grey;
}

.catalog__item::before {
    background: #1f1f1f;
}

@media (max-width: 767px) {
    .catalog__product {
        border-bottom: 2px solid #1f1f1f;
    }
}

.product__description {
    color: #9f9f9f;
}

.product__sizes {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
}

.product__size {
    color: #1f1f1f;
}

.product__checker {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
}

.btn-close::before,
.btn-close::after {
    background: #1f1f1f;
}

.mobile-menu__link:hover {
    color: grey;
}

.order__subtitle {
    color: #a2a2a2;
}

.order__size {
    color: #a2a2a2;
}

.form__input {
    background: #f7f7f7;
}

.footer-page {
    background: linear-gradient(to top, #2d2c2c, #1f1f1f);
}

.footer-page__text {
    color: rgba(255, 255, 255, .3);
}

.header-page {
    background: rgba(11, 20, 25, 0.9);
}

.header-page__link {
    color: grey;
}

.header-page__link::before {
    background: grey;
}

.header-page__link:hover {
    color: #1f1f1f;
}

.popup {
    background: rgba(0, 0, 0, .7);
}

.popup__content {
    background: #fff;
}

.section-about {
    background: linear-gradient(to top, #2d2c2c, #1f1f1f);
    color: grey;
}

.section-top {
    background: #0e1419 url(img/tamara-bellis-68csPWTnafo-unsplash.jpg) no-repeat center;
    color: grey;
}

.section-top::before {
    background: rgba(0, 0, 0, 0.5);
}

.btn-up {
    color: grey;
}